.options {
    padding: 5px;
}

.radio {
    text-align: left;
    width: 180px;
    height: 40px;
    margin: 10px auto;
    background: #000;
    color: rgb(151, 255, 168);
    border-radius: 10px;
    padding: 10px;
}

input {
    margin-right: 20px;
}

.options form button {
    text-align: left;
    width: 180px;
    height: 40px;
    margin: 10px auto;
    background: #000;
    color: rgb(151, 255, 168);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.options .close-window {
    bottom: 236px;
    right: -150px;
    outline: none;
}
